<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <section class="container mt-20 mt-md-135">
        <div
          class="d-flex justify-content-between align-items-center border border-2 border-md-3 py-4 px-3 py-md-6 px-md-8 mb-3 mb-md-8">
          <h4 class="fs-24 fs-md-64 fw-normal">EVENT</h4>
          <h3 class="noto-tc-serif fw-bold fs-16 fs-md-32">所有活動</h3>
        </div>
      </section>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>