<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <!-- banner區塊 -->
      <section
        class="container mt-20 mb-8 mt-md-135 mb-md-12 px-10 pt-4 pb-6 pt-md-12 pb-md-6 d-flex flex-column justify-content-between index-banner  bg-s-cover bg-p-center"
        style="background-image: url(/assets/images/event/13.jpg);">
        <h3 class="text-white fs-md-60 fs-32">19 MAY <br class="d-md-none"> 2023</h3>
        <div class="">
          <h2 class="noto-tc-serif text-white fs-18 fs-md-24 fw-bold text-center mb-lg-4">隔牆有耳-沒有草東的派對</h2>
          <p class="text-white d-none d-lg-block noto-tc-sans text-center">
            你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
            帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
        </div>
      </section>
      <!-- 活動選單列表區塊 -->
      <section class="container">
        <ul class="list-unstyled row g-2 gx-lg-6">
          <li class=" col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate01.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">演出</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate02.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">聯誼</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate03.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">展覽</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate04.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">美食</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center justify-content-center py-5 py-lg-9"
              href="#">
              <img src="/assets/images/cate05.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">戶外</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="border border-2 d-flex flex-column align-items-center  justify-content-center bg-primary py-lg-9 py-6 h-100"
              href="#">
              <p class="fw-bold fs-24 fs-md-36 fs-lg-48 lh-sm text-secondary noto-tc-serif event-hover">探索<br>更多</p>
            </a>
          </li>
        </ul>
      </section>
      </div>
      <!-- 假字測試 -->
      <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quam assumenda aliquid nulla velit.
          Nesciunt perferendis similique eos veniam fuga quas eveniet reprehenderit iste, commodi dolorem at quis.
          Corrupti doloremque aspernatur neque animi ut facere fuga, accusantium consequuntur, assumenda ratione nulla
          minima? Eos sint dolor cumque culpa fuga labore perspiciatis nobis incidunt ea repellat, praesentium numquam
          rerum sit delectus distinctio odio quas vel totam assumenda aliquid consectetur facilis. Laudantium quis quo
          repellat maxime magnam. Beatae eveniet ducimus non error provident itaque tenetur distinctio odio aut ullam
          molestias enim, suscipit reprehenderit perferendis ad aliquam ipsa! Odit maxime eos necessitatibus enim
          incidunt repudiandae corporis quam, ratione sequi consequuntur facere eaque saepe nihil cupiditate corrupti
          dicta dolorum debitis aperiam assumenda officia molestias atque sit? Eum a aperiam enim nobis illo, alias
          praesentium repellendus quisquam error, consequatur fugiat excepturi impedit. Molestias eveniet sed,
          architecto ab magni est vero exercitationem aperiam. Culpa iusto a voluptatibus magnam. Iure, quasi laborum
          dolorum voluptates incidunt perspiciatis accusantium magnam dolorem est, temporibus sit reiciendis,
          dignissimos ex. Rerum laborum ducimus veniam porro soluta tenetur, cum aut sunt ut ipsum reprehenderit.
          Adipisci consequuntur laborum maiores amet, autem repellendus blanditiis. Rerum eos provident cumque sapiente
          ut. Non voluptatem quis, recusandae ad impedit excepturi autem optio assumenda vero exercitationem porro
          delectus. At vitae eum laudantium amet architecto est doloribus placeat nesciunt incidunt hic quo deserunt
          quae magni nobis exercitationem ipsum unde, dolor ad delectus quos non fugiat cumque quis et! Amet labore
          explicabo quisquam quis dolor voluptatibus reprehenderit, quasi doloribus perspiciatis, in assumenda libero,
          expedita accusantium illo. Dolore quo debitis natus corrupti non sint distinctio! Quod ad optio commodi
          laboriosam ut soluta sed itaque dolorem illum in tempore porro deleniti, saepe quos voluptate accusantium
          natus quisquam fugiat. Temporibus veritatis illo in ipsum modi, dicta delectus quos eligendi reprehenderit
          magnam, vel maiores minus dolores?</p>
      </div>
      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>