<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <!-- banner區塊 -->
      <section
        class="container mb-8 mt-20 mt-md-135 mb-md-12 px-10 pt-4 pb-6 pt-md-12 pb-md-6 d-flex flex-column justify-content-between index-banner  bg-s-cover bg-p-center"
        style="background-image: url(/assets/images/event/13.jpg);">
        <h3 class="text-white fs-md-60 fs-32">19 MAY <br class="d-md-none"> 2023</h3>
        <div class="">
          <h2 class="noto-tc-serif text-white fs-18 fs-md-24 fw-bold text-center mb-lg-4">隔牆有耳-沒有草東的派對</h2>
          <p class="text-white d-none d-lg-block noto-tc-sans text-center">
            你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
            帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
        </div>
      </section>
      <!-- 活動選單列表區塊 -->
      <section class="container">
        <ul class="list-unstyled row g-2 gx-lg-6 mb-lg-12 mb-8">
          <li class=" col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate01.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">演出</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate02.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">聯誼</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate03.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">展覽</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center py-5 py-lg-9" href="#">
              <img src="/assets/images/cate04.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">美食</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="event-hover border border-2 d-flex flex-column align-items-center justify-content-center py-5 py-lg-9"
              href="#">
              <img src="/assets/images/cate05.svg" class="index-event-icon mb-2 mb-md-3" alt="">
              <h6 class="noto-tc-serif fw-bold fs-md-24">戶外</h6>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a class="border border-2 d-flex flex-column align-items-center  justify-content-center bg-primary py-lg-9 py-6 h-100"
              href="events.html">
              <p class="fw-bold fs-24 fs-md-36 fs-lg-48 lh-sm text-secondary noto-tc-serif event-hover">探索<br>更多</p>
            </a>
          </li>
        </ul>
      </section>

      <%- include('./layout/footer'); -%>

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script type="module" src="../main.js"></script>
  </body>

</html>